@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-colour) !important;
    position: relative !important;
    overflow: visible !important;
    overflow-x: hidden;
}

 :root {
    --primary-color: #E78EA9;
    --secondary-color: #FFFBE7;
    --para-color: #FBECEB;
    --highlight-color: #B9F8D3;
    --white: #fff;
    --bg-colour: #40DFEF;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: auto;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: var(--highlight-color);
}

header {
    background-color: var(--white);
    display: flex;
}

header>h1 {
    flex: content;
    color: var(--primary-color);
    margin: 10px 20px 10px 30px;
}

header>nav {
    flex: content;
}

.nav-bar-content {
    color: #fff;
    margin: 10px 35px;
    font-size: large;
    color: var(--bg-colour);
}

.heroSection,
.container {
    /* border: 1px solid green; */
    max-width: 100%;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.herosection-left {
    /* border: 1px solid red; */
    flex: 50%;
    background: var(--para-color);
}

.herosection-right {
    /* border: 1px solid yellow; */
    flex: 50%;
    background: violet;
}

.main-title {
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    color: var(--primary-color);
}

.main-content {
    margin-left: 200px;
    margin-top: 50px;
    font-size: 35px;
    color: var(--bg-colour);
}

.slider-button {
    background: green;
}

.slider-button>h1 {
    text-align: center;
}

.about-section {
    background-color: aquamarine;
}

.doctor {
    border: 1px solid green;
    max-width: 100%;
    height: 500px;
    background: green;
}

.contact {
    border: 1px solid green;
    max-width: 100%;
    height: 500px;
    background: honeydew;
}

footer {
    border: 1px solid blue;
}